@(year: Int)
<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135012970-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-135012970-2');
  </script>
</head>
<body>
<a href="/docs/swagger-ui/index.html?url=/assets/swagger.json">swagger</a>
<footer>© @year <a target="_blank" href="https://underscore.co.jp">Underscore Co., Ltd.</a> All Rights Reserved.</footer>
</body>
</html>
